{% extends 'base.html' %}
{%block title%} LOGIN | KARTOZA PORTFOLIO APPLICATION{% endblock %}

{% block content%}
<div class="container">
    <div class="HeaderTextContainer">
        <h1 class="HeaderText">SIGN-IN </h1>
    </div>
    <br/>
   
<form class="form-row" action="form" method="post">

<!--cross site validation security -->
{% csrf_token %}
<!--Username form Field-->
  

<label for="username"> Username: </label>
<input id="username"placeholder="Type your Username...." size=75 type="text" name="username" maxlength="30" required>
<br/>
<br/>

<!--Password Form Field -->
<label for="Password"> Password: </label>
<input id="Password" placeholder="Provide your Password...." size=75 width=45 type="Password" name="Password" required>
<br/>
<br/>

<!--submit form -->
<input class="SignInbutton" id="signIn" type="submit" size=35 value="Sign-in">
</form>
<br/>

<!--Call to action when not registered -->
<code color="noAccountText"> No Account? </code>
<span class="signupLink">
<br/> <a href="/sign-up/">
<bold> sign-up </bold> 
</a>
</span>

</div>
{% endblock%}