{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>{% block title %} Kartoza - Portfolio {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />


</head>
<body>
{% block navBar %}
<!--Navigation-->    
<center>

<div class="navbar">
<div class="container-flex">

<!--Links-->
<ul class="NavLinkContainer">

<li>
<a class="link" href="{% url 'mapDetails' %}">Map</a>    
</li>
<li>
<a class="link" href="{% url 'profileDetails' %}">Profile</a>    
</li>
<li>
    <a class="link" href="{% url 'home' %}">Edit-Profile</a>    
    </li>
<li>
<a class="link" href="{% url 'login' %}">Login</a>    
</li>
<li> 

<a class="link" href="{% url 'logout' %}"> Sign-Out</a>    
</li>


</ul>
<div class="text-align-left container pt-5">Hello! {{ user.username }}</div>
<!--Ending Links-->

</div>
</div>
</center>

<!--Ending Navigation-->
{% endblock %}

{% block container %}
{% endblock %}

<script type="application/javascript" src="/static/location_field/leaflet.js"></script></body>
</html>